*{
  margin: 0;
  background-color: #e3e4e5;
}

.caja-promo{
  /* background: url("../img/city7.jfif"); */
  display: flex;
  justify-content: center;
  padding: 0;
  background: #e3e4e5;
}
.cajas-ind{
  color: black;
  margin: 20px 20px;
  padding: 20px 20px;
  align-items: center;
  box-shadow: 1px 1px 2px 2px #36B5CD;
  border-radius: 15px;
}
.titulo-destino{
  color: #4e4e4d;
  margin-top: 10px;
  font-size: 18px;
}
.detalles{
  color: black;
}

.img-otros{
  height: 350px;
  width: 300px;
  border-radius: 15px;
  box-shadow: 6px 6px 6px  gray;
}
.boton-reserva{
  background: #36B5CD;
  border: none;
  padding: 10px 0;
  width: 100%;
  color: white;
  font-size: 16px;
  margin: 5px;
  padding-left: 0;
}

.boton-reserva:hover{
  text-decoration: underline;
}

.precios-caja{
  color: #36B5CD;
}
