.box-card{
  height: 500px;
  border-radius: 5%;
  width: 350px;
  position: relative;
  /* background: linear-gradient(0deg, #ffffff 25%,rgba(247, 213, 22, 0.4) 50%,rgba(243, 64, 9, 0) ); */
  background-image: url('/src/assets/backg_card.jpeg');
  background-size: cover;
  transition: .3s ease-in-out;
  cursor:grab ;
}

.box-card:hover {
  transform: scale(1.02);
}

.background-card{
  position: absolute;
  object-fit: contain;
  height: 100%;
  width: 100%;
  border-radius: 5%;
}


.box-info-card{
  position: absolute;
  border-radius: 5%;
  inset: 0;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 15px 45px rgba(0,0, 0, .7);
}

.card-top-info{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

.info-left{
  align-items: center;
  width: 30%;
  height: 100px;
  background: linear-gradient(90deg, #38038d, #0728e6);
  border-radius: 100%;
  text-align: center;
  padding: 0px;
  margin: 0px;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  
}

.info-left img {
  height: 50px;
}

.info-right{
  width: 50%;
}

.info-right p{
  font-size: 24px;
  font-weight: 900;
  color: #0d47ff;
  font-style: italic;
}

.text-capacidad {
  font-size: 40px;
  margin: 0;
  padding: 0;
}



.card-bottom-info img {
  height: 42px;
 
}

.card-bottom-info{
  display: flex;
  justify-content: space-evenly;
  background-color: #153cbd;
  border-radius: 0 0 20px 20px;
  align-items: center;
}

.max-equipaje{
  color: white;
  font-size: 24px;
  font-weight: 900;
}

@media (max-width: 768px) {
  .box-card {
    width: 100%;
    max-width: 350px;
    margin: 0 auto 20px;
  }
}

